@page "/getintouch"

<div class="text-center border my-5 rounded">
	<div class="display-6">İletişim</div>
	<div class="lead">
		<i class="fa fa-phone text-primary my-3"></i>
		<p>
			90111222
		</p>
		<i class="fa fa-address-book text-primary my-3"></i>
		<p>
			ABC Mahallesi QPT Caddesi XYZ Sokak No: 12859 İlçe/Şehir
		</p>
		<i class="fa fa-envelope text-primary my-3"></i>
		<p>
			ornek_email@bilinmiyor
		</p>
	</div>
</div>
