@page "/getintouch"

<div class="text-center border my-5">
	<div class="display-6 border-bottom">İletişim</div>
	<div class="lead">
		<i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
		<p>
			90111222
		</p>
		<i class="fa fa-address-book g-secondary text-white p-3 rounded-5 my-3"></i>
		<p>
			ABC Mahallesi QPT Caddesi XYZ Sokak No: 12859 İlçe/Şehir
		</p>
		<i class="fa fa-envelope g-secondary text-white p-3 rounded-5 my-3"></i>
		<p>
			ornek_email@bilinmiyor.uzantı
		</p>
	</div>
</div>
